#main_container {
  display: flex;
  flex-flow: column;
}

.work_container {
  display: flex;
  flex-flow: row;
  width: 100%;
  min-width: 100px;
}

.base_elemnt_holder {
  display: flex;
  flex-flow: column;
  width: 33%;
}

.drop_receiver {
  background-color: blueviolet;
}

.element_settings {
  background-color: blanchedalmond;
  width: 33%;
  max-width: 400px;
  min-width: 50px;
}

.base_elemnt_holder>div:first-child {
  flex: 1 1 auto;
}

.column_name {
  margin: 0px;
  background-color: azure;
}

/* ************* */
/* Place holders */
/* ************* */

.lbl-ph,
.btn-ph {
  min-height: 18px;
  min-width: 15px;
}

.testinfo-ph,
.question-ph,
.btn-ph,
.lbl-ph {
  border: 1px black solid;
  margin: 3px;
  padding: 1px;
  user-select: none;
}

.question-ph {
  background: linear-gradient(to right, #22ce00 0% 10px, yellowgreen 15px 100%);
  min-height: 25px;
  max-width: 66vw;
  padding: 3px;
  padding-left: 15px;
}

.btn-ph {
  background: purple;
  display: inline-block;
}

.lbl-ph {
  background: bisque;
}

.testinfo-ph {
  background: yellow;
}

/* ************* */
/* ************* */
/* ************* */


.delete_drop {
  background-color: red;
  max-height: 50px;
  height: 100%;
  width: 100%;
}

.work_container>div:first-child {
  flex: 0 1 30%;
  max-width: 400px;
  min-width: 100px;
  background-color: yellowgreen;
}

.work_container>div {
  flex: 1 1 auto;
  margin-left: 3px;
  margin-right: 3px;
}



.movable {
  cursor: pointer;
}

/* statuses */

.selected {
  opacity: .6;
}

.non_selected_for_editing {
  background: darkblue;
}