#main_container {
  display:contents;
  border-collapse: collapse;
}

.base_elemnt_holder {
  height: 100%;
}

.drop_receiver {
  padding-top: 8vh; 
  vertical-align: top;
  background-color: #D7E5E5;
}

.element_settings {
  width: 33%;
  max-width: 400px;
  min-width: 50px;
}

.base_elemnt_holder>div:first-child {
  flex: 1 1 auto;
}

.column_name {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #ECECEC;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
}

/* ************* */
/* Place holders */
/* ************* */

.question-ph::before {
  content: url(/svg/BlockIcon.svg) " Блок";
  min-height: 25px;
  max-width: 66vw;
  color: #ECECEC;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
}

.btn-ph::before {
  content: url(/svg/ButtonIcon.svg) " Кнопка";
  display: inline-block;
  min-height: 25px;
  max-width: 66vw;
  color: #ECECEC;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
}

.lbl-ph::before {
  content: url(/svg/TextIcon.svg) " Текст";
  display: inline-block;
  min-height: 25px;
  max-width: 66vw;
  color: #ECECEC;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
}

.testinfo-ph {
  background: yellow;
}

/* ************* */
/* ************* */
/* ************* */


.delete_drop {
  background-color: red;
  max-height: 50px;
  height: 100%;
  width: 100%;
}

.work_container_side {
  max-width: 400px;
  min-width: 100px;
  width: 300px;
  background-color: #2F3334;
}


.movable {
  cursor: pointer;
}

/* statuses */

.selected {
  opacity: .6;
}

.non_selected_for_editing {
  background: darkblue;
}