<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <header>
      <div class="headerContainer">
          <p>{{ title }}</p>
      </div>
    </header>
    <div class="mainPart">
      <div class="mainContainer">
        <form method="post">
          <button type="submit">select</button>

          <select name="selected_list" id="speed">
            {% for pair_id in test_list %}
            <option value={{pair_id}}>{{ test_list[pair_id] }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>  
  </body>
</html>